@model  IEnumerable<PrivateLessons.Models.users>;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>User</h4>
    <hr />
    @foreach (var item in Model) {
        <tr>
            <td>
              <b>  User Name: @Html.DisplayFor(modelItem => item.username)</b><br><br>
            </td>
            <td>
              <b> EMail: @Html.DisplayFor(modelItem => item.email)</b><br><br>
            </td>
            <td>
              <b> Full Name: @Html.DisplayFor(modelItem => item.f_name)
                          @Html.DisplayFor(modelItem => item.l_name)</b><br><br>
            </td>
            <td>
               <b>Password: @Html.DisplayFor(modelItem => item.password)</b><br><br>
            </td>
            <td>
             <b>You are:</b>
          @if(item.type_id==3){
              <b>Student</b><br><br><br>
               <a asp-action="MyCourses">My Registered Courses</a>
          }else if(item.type_id==2){
             <b>Teacher</b><br>
               <a asp-action="TeacherCourses">My Courses</a>
          }else{
              <b>Admin</b><br>
              
          }

          </td>
           
        </tr>
}
 
</div>
<div>
   
    <a asp-action="Index">Back to List</a><br>
   
</div>
</body>
</html>
